extends layout
block content
  div(class='container')
    div(class='header')
      h3(class='text-muted') Charles River Trading Simulation

  div(class='container')
    div(class='jumbotron')  
      h1 Welcome
      div(id='general')
        p(class='lead') Are you a trader or a facilitator?
        div(class='row lead')
          div(class='col-md-3')
            select(id='select', class='form-control')
              option Trader
              option Facilitator

      div(class='row lead', id='adminPassword')
        div(class='col-md-3')
          p Password
          input(type='password', class='form-control', id='adminPasswordInput', placholder='Password')

      div(class='row')
        div(class='col-md-2')
          a(class='btn btn-success', id='submitBtn') Next
  
    script(src='../javascripts/index.js')

    script(type='text/javascript').
      $('#adminPassword').hide();
      $('#submitBtn').click(function() {
        var selection = $('#select').find(':selected').text();
        if (selection === 'Trader') {
          document.location.href='/trader';
        } else {
          if ($('#general').is(':visible') ) {
            $('#adminPassword').show();
            $('#general').hide();
          } else {
            if ($('#adminPasswordInput').val() === 'password') {
              document.location.href='/admin';
            } else {
              $('#adminPasswordInput').val('');
            }
          }
        }
      });

