extends layout
block content

  div(class='container')
    div(class='jumbotron') 
      div(class='row lead', id='traderView')
        script(id='traderInfo-template' type='text/x-handlebars-template')
          div(class='col-md-3')
            p First Name
            input(type='text', class='form-control lead', id='nameInput', placeholder='e.g. Stephanie')
            p Email
            input(type='email', class='form-control lead', id='emailInput', placeholder='e.g. pandas@gmail.com')
            a(class='btn btn-success', id='submitBtn') Next

        script(id='trade-template', type='text/x-handlebars-template')
          div(class='container', id='traderView')
            div(class='row lead')
              div(class='col-md-8')
                label News
            div(class='row lead')
              div(class='col-md-8')
                label Graph
                div(id='chartdiv' style='background: #3f3f4f;color:#ffffff; width: 95%; height: 400px; font-size: 11px;')
              div(class='col-md-4')
                div(class='row')
                  label Order Form
                  div(class='col-md-12')
                    div(class='row')
                      p Order Type
                    div(class='row')
                      div(class='col-md-6')
                        select(id='orderType', class='form-control lead')
                          option(value='marketBuy') Market Buy
                          option(value='marketSell') Market Sell
                          option(value='limitBuy') Limit Buy
                          option(value='limitSell') Limit Sell
                    div(class='row', id='orderInputs')
                    div(class='row')
                      button(type='button' class='btn btn-primary' id='submitOrderBtn') Submit Order

                
            div(class='row lead')
              div(class='col-md-8')
                label Portfolio Info
                div(class='row')
                  div(class='col-md-7' id='portfolio')
              div(class='col-md-4')
                div(class='row')
                  label Canceling Orders
                div(class='row')
                  label Transaction history
                  div(id='transactions')

    // Template for Market Orders
    script(id='orderInputsVolume-template', type='text/x-handlebars-template')
      div(class='col-sm-5')
        div(class='row')
          p Volume
        div(class='row lead')
          input(type='text', class='form-control', id='volumeInput', placeholder='e.g. 100')
    
    // Template for Limit Orders
    script(id='orderInputsBoth-template', type='text/x-handlebars-template')
      div(class='col-sm-5')
        div(class='row')
          p Price
        div(class='row lead')
          input(type='text', class='form-control', id='priceInput', placeholder='e.g. 100')
      div(class='col-sm-5 col-sm-offset-1')
        div(class='row')
          p Volume
        div(class='row')
          input(type='text', class='form-control', id='volumeInput', placeholder='e.g. 100')

    // Template for Transaction History
    script(id='transactions-template' type='text/x-handlebars-template')
      ul(class='list-unstyled')
        {{#each transactions}}
        li {{this}}
        {{/each}}

    // Template for Portfolio Information
    script(id='portfolio-template' type='text/x-handlebars-template')
      table(class='table table-condensed')
        tr
          th
          th Last
          th Low
          th High 
          th Bid/Size
          th Ask/Size
          th Volume
          th Quantity
          th Market Value
        tr
          th CRL 
          td {{last}}
          td {{low}}
          td {{high}}
          td {{bid}}/{{bidSize}}
          td {{ask}}/{{askSize}}
          td {{volume}}
          td {{quantity}}
          td {{crlTotal}}
        tr
          th Cash
          td -
          td -
          td -
          td -
          td -
          td -
          td -
          td {{cashTotal}}
        tr
          th Total
          td -
          td -
          td -
          td -
          td -
          td -
          td -
          td {{total}}


    script(src='/socket.io/socket.io.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.3.0/handlebars.min.js')
    script(type='text/javascript' src='http://www.amcharts.com/lib/3/amcharts.js')
    script(type='text/javascript' src='http://www.amcharts.com/lib/3/serial.js')
    script(type='text/javascript' src='http://www.amcharts.com/lib/3/themes/dark.js')
    script(type='text/javascript' src='http://www.amcharts.com/lib/3/amstock.js')
    script(src='../javascripts/graph.js')

    script(src='../javascripts/trader.js')
    
      

     
   